@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .center {
    @apply flex justify-center items-center text-center;
  }
}
:root {
  --background: #CBD5E1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010409;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
